################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HordeFiles/CopilotIndices/17.14.1561.44479
/.vs/HordeFiles/FileContentIndex
/.vs
